# Truted Data Generation - Order Items

## Scope of notebook

> Create `Order Items` dataset following the requirements below.

* Order Items dataset - easy to read dataset with one-to-many relationship with Order dataset. Must contain all data from order items column.

Import libraries.

In [17]:
%load_ext autoreload
%autoreload 2
from src.config import RAW_DATA_PATH
from src.IOController import create_pyspark_session
from src.DataProcessor import create_trusted_order_items, explore_dataframe

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Spins off PySpark session.

In [4]:
spark = create_pyspark_session()

Starting PySpark session. Check your terminal for detailed logging...
PySpark session sucessfully created.

Generates and exports Order Items dataset.

In [18]:
tmp = create_trusted_order_items(spark)
explore_dataframe(tmp)
tmp.limit(3).toPandas().T

Starting processing to generate Order Items dataset...
Exporting dataset file system...
Dataset sucessfully exported to `/home/jovyan/data/trusted/order_items`!
(#rows, #columns) = (7494696, 14)
root
 |-- order_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- addition: string (nullable = true)
 |-- discount: string (nullable = true)
 |-- quantity: float (nullable = true)
 |-- sequence: float (nullable = true)
 |-- unitPrice: string (nullable = true)
 |-- externalId: string (nullable = true)
 |-- totalValue: string (nullable = true)
 |-- customerNote: string (nullable = true)
 |-- garnishItems: string (nullable = true)
 |-- integrationId: string (nullable = true)
 |-- totalAddition: string (nullable = true)
 |-- totalDiscount: string (nullable = true)

,0,1,2
order_id,dd4f8f0a-c2cb-45c6-a002-c3be6b305e5f,dd4f8f0a-c2cb-45c6-a002-c3be6b305e5f,8dd80f0b-db00-4b88-b7e2-02ca706fc5a5
name,Parmegiana de Filé de Frango (2 pessoas),Lasanha Frango (2 pessoas),Filé Mignon à Cubana
addition,"{""value"":""0"",""currency"":""BRL""}","{""value"":""0"",""currency"":""BRL""}","{""value"":""0"",""currency"":""BRL""}"
discount,"{""value"":""0"",""currency"":""BRL""}","{""value"":""0"",""currency"":""BRL""}","{""value"":""0"",""currency"":""BRL""}"
quantity,1,1,1
sequence,1,3,1
unitPrice,"{""value"":""2800"",""currency"":""BRL""}","{""value"":""1800"",""currency"":""BRL""}","{""value"":""0"",""currency"":""BRL""}"
externalId,0bcd6764fd5e466d9c04b18ac0eb69e6,a361f5eec6a44ac0817892e81bf22e80,e0e81b2027c241cca5bf60a4768800ec
totalValue,"{""value"":""2800"",""currency"":""BRL""}","{""value"":""1800"",""currency"":""BRL""}","{""value"":""0"",""currency"":""BRL""}"
customerNote,None,None,None
garnishItems,"[{""name"":""COM Arroz branco"",""addition"":{""value...",[],"[{""name"":""334 - 1/2 porção "",""addition"":{""valu..."
integrationId,PMFR,LF,None
totalAddition,"{""value"":""0"",""currency"":""BRL""}","{""value"":""0"",""currency"":""BRL""}","{""value"":""0"",""currency"":""BRL""}"
totalDiscount,"{""value"":""0"",""currency"":""BRL""}","{""value"":""0"",""currency"":""BRL""}","{""value"":""0"",""currency"":""BRL""}"

Conclusion:

> Indeed we've achieves a resulting DataFrame as required. It has one-to-many relationship to `Orders` dataset (primary key is `order_id`). Checking it's shape and first three rows there's a better feeling that the processing went well. A quick remark is that it has 7,5 million rows, thus producing an average 2 items per order since the Order dataset hast 3,6 million items. Seems reasonable!

Order Items dataset successfully generated!