# Truted Data Generation - Status Items

## Scope of notebook

> Create `Status` dataset following the requirements below.

* Order statuses - Dataset containing one line per order with the timestamp for each registered event: CONCLUDED, REGISTERED, CANCELLED, PLACED.

Import libraries.

In [1]:
%load_ext autoreload
%autoreload 2
from src.config import RAW_DATA_PATH
from src.IOController import create_pyspark_session
from src.DataProcessor import create_trusted_status, explore_dataframe

Spins off PySpark session.

In [2]:
spark = create_pyspark_session()

Starting PySpark session. Check your terminal for detailed logging...
PySpark session sucessfully created.

Generates and exports Order Items dataset.

In [3]:
df = create_trusted_status(spark)
explore_dataframe(df)
df.limit(3).toPandas()

Starting processing to generate Status dataset...
Exporting dataset to file system...
Dataset sucessfully exported to `/home/jovyan/data/trusted/order`!
(#rows, #columns) = (2441067, 2)
root
 |-- order_id: string (nullable = true)
 |-- status_created_at: map (nullable = true)
 |    |-- key: string
 |    |-- value: timestamp (valueContainsNull = true)

,order_id,status_created_at
0,0002fe02-d7dc-4232-b7ac-3394019ce240,"{'PLACED': 2019-01-24 23:04:28, 'CONCLUDED': 2..."
1,0012d95c-9c4b-4244-86b5-dcf87677dcc1,"{'PLACED': 2019-01-03 18:12:24, 'CONCLUDED': 2..."
2,0013fc5c-4c10-4402-886c-1b8166e4632e,"{'PLACED': 2019-01-06 14:16:18, 'CONCLUDED': 2..."

In [5]:
type(df.printSchema())

root
 |-- order_id: string (nullable = true)
 |-- status_created_at: map (nullable = true)
 |    |-- key: string
 |    |-- value: timestamp (valueContainsNull = true)

NoneType

Order Status dataset successfully generated!