# Truted Data Generation - Status Items

## Scope of notebook

> Create `Status` dataset following the requirements below.

* Order statuses - Dataset containing one line per order with the timestamp for each registered event: CONCLUDED, REGISTERED, CANCELLED, PLACED.

Import libraries.

In [9]:
%load_ext autoreload
%autoreload 2
from src.config import RAW_DATA_PATH
from src.IOController import create_pyspark_session
from src.DataProcessor import create_trusted_status, explore_dataframe

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Spins off PySpark session.

In [2]:
spark = create_pyspark_session()

Starting PySpark session. Check your terminal for detailed logging...
PySpark session sucessfully created.

Generates and exports Order Items dataset.

In [10]:
df = create_trusted_status(spark)
explore_dataframe(df)
df.limit(3).toPandas()

Starting processing to generate Status dataset...
Exporting dataset to file system...
Dataset sucessfully exported to `/home/jovyan/data/trusted/order`!
(#rows, #columns) = (2441067, 5)
root
 |-- order_id: string (nullable = true)
 |-- CANCELLED: timestamp (nullable = true)
 |-- CONCLUDED: timestamp (nullable = true)
 |-- PLACED: timestamp (nullable = true)
 |-- REGISTERED: timestamp (nullable = true)

,order_id,CANCELLED,CONCLUDED,PLACED,REGISTERED
0,1585cef9-3ed5-4b77-adfd-ff4b4ec8fa1a,NaT,2019-01-12 00:05:02,2019-01-11 22:00:12,2019-01-11 22:00:11
1,39003eeb-75f7-4373-aa1b-d28d6dc72c8c,NaT,2019-01-24 18:03:09,2019-01-24 17:23:17,2019-01-24 17:23:16
2,3b35d44d-f7b9-4f0d-887a-b82d26bcaa15,NaT,2019-01-22 20:25:03,2019-01-22 18:24:28,2019-01-22 18:24:27

Order Status dataset successfully generated!